<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/img/sumi.png' %}">
    <script src="https://kit.fontawesome.com/b820fb647e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/gordita/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/main.css' %}">
    <title>SUMI Travel Limited - About Us</title>
</head>


<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand nav-b" href="/">
            <img src="{% static 'img/logo.png' %}" width="270px" id="logo" height="60px" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse ms-auto justify-content-center " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color:blue;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book">Book Now</a>
                </li>
              
            </ul>
            <div class="navbar-brand">
                <p><span class="fa fa-envelope" aria-hidden="true"></span>info@sumitravelltd.com</p>
            </div>

        </div>
    </nav>
<div class="container" style="margin-bottom: 50px;">
    
        <h1 class="ab-h1">About Us</h1>
        <p>Our objective at Sumi Travel is to provide a one stop travel shop to our customers. By successfully
            operating in the medium-high end of the travel industry, we have won the conﬁdence of a highly
            demanding and exclusive client base. Blending the extensive network and expertise in this ﬁeld,
            at this company we are capable of arranging tours that are characterized by the fascination of the
            sites, the quality of the offered services and the luxury of the accommodations offered with a great
            selection of locations in every tourist destination.</p>
        <h1 class="ab-h1">Our team members:</h1>
        <p>At Sumi Travel we have a team of experienced and highly-motivated team members. We consider our staff members as
            the most important assets, who work together as a family. The team members of our company are regularly updated
            and trained with renewed and new travel options that are offered to the clients.</p>
        <h1 class="ab-h1">Our vision:</h1>
        <p>It is our vision to be one of the most popular travel agencies in Malawi, offering services to every sector of
            the individuals and business communities. And it is also our vision to use the experience of the highly
            professional staff members of our company to deal with the requirements of holistic traveling for both leisure
            travelers and corporates.</p>
        <h1 class="ab-h1">Our mission:</h1>
        <p>We work with the mission to be passionate and driven about servicing the travel related
            requirements of the individuals and companies through the integrity, commitment and dedication of
            our competent business partners and staff members. To increase our reputation, we always attempt to
            deliver in the best-in-class services while forming a paradigm shift relating to travel internationally and
            locally.</p>
        <h1 class="ab-h1">Goals that we have:</h1>
        <ul>
            <li>To be the only choice in dealing with the travel requirements of people.</li>
            <li>To offer services efﬁciently and quickly so that our clients become inspired by the terms of the timely
                service.</li>
            <li>To adapt to the changing requirements of the business sectors while becoming a major service provider
                through satisfying the specialized needs of the businesses of all sizes and the individual clients</li>
            <li>To offer travel packages, which are tailor-made and cost-effective to suit the requirements of a
                broad spectrum of tourists</li>
        </ul>
        <h1 class="ab-h1">Our Services</h1>
        <p>At Sumi Travel, we offer an exclusive program of travel services, designed specially to relieve our clients from
            all the tiresome and petty chores, which need to be taken care of before starting a holiday tour. And we try our
            best always to make every moment of the trip full of pleasure.</p>
        <p>Here at Sumi Travel, we offer the clients comprehensive travel itineraries within the period of 24 hours. </p>
        <p>Besides, here we have a team of professionals, who are highly trained to understand all the
            requirements of our clients and to offer them only the best options available within the most
            competitive rates. Here we also use the latest technology to maximize the use of the latest reservation
            system to offer immediate feedback to the travelers wherever it is possible.</p>
        <p>We have partnership with the popular tour operators in different tourist destinations to offer only the
            best rates for both individual and group tour packages:</p>
        <ol>
            <li>Accommodation</li>
            <li>Flights</li>
            <li>Cruising</li>
            <li>Car hire</li>
            <li>Visas</li>
            <li>Tours</li>
            <li>Conferencing</li>
            <li>Local traveling</li>
            <li>Hotel accommodation and transfers Travel insurance</li>
        </ol>
  
</div>
   
<div class="footer">
    <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Sumi Travel is a top travel agency in Malawi which offers exclusive tours, highly-trained staff, and
                quality services to individuals and businesses.
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p class="footer-text">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Sumi Travel Limited All rights reserved
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <ul class="footer-ul">
                <li><a class="footer-li" href="/">Home</a></li>
                <li><a class="footer-li" href="/about">About Us</a></li>
                <li><a class="footer-li" href="/contact">Contact Us</a></li>
                <li><a class="footer-li" href="/gallery">Gallery</a></li>
              </ul>
              </div>
              <h6></h6>
            </div>
          
          <div class="col-lg-4 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
              <h6>Contact Us</h6>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>P.O. Box 1154
                <br>Lilongwe,
                <br>Malawi
              </p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+265 202 303 004 / +265 991660 669 <br>+265 888 785 595</p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>info@sumitravelltd.com</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>